<template>
  <div>
    <button type="button" class="back-button" @click="$router.go(-1)">
      Voltar
    </button>
    <div v-if="$wait.is('fetching-movie')">
      <app-loader></app-loader>
    </div>
    <div v-else class="detail">
      <div class="movie-detail">
        <div class="header">
          <div class="title">
            <h1>{{ movie.title }}</h1>
          </div>
          <div class="year">
            <p>{{ movie.releaseDate }}</p>
          </div>
        </div>
        <div class="body">
          <div class="content">
            <div class="block overview">
              <div class="title">
                <span>
                  Sinopse
                </span>
              </div>
              <hr class="divider" />
              <div class="block-text">
                {{ movie.overview }}
              </div>
            </div>
            <div class="block general-info">
              <div class="title">
                <span>
                  Informações
                </span>
              </div>
              <hr class="divider" />
              <div class="block-text general-info-content">
                <div class="content-item">
                  <p class="info">
                    Situação
                  </p>
                  <p class="value">
                    {{ status }}
                  </p>
                </div>
                <div class="content-item">
                  <p class="info">
                    Idioma
                  </p>
                  <p class="value capitalize">
                    {{ language }}
                  </p>
                </div>
                <div class="content-item">
                  <p class="info">
                    Duração
                  </p>
                  <p class="value">
                    {{ runtime }}
                  </p>
                </div>
                <div class="content-item">
                  <p class="info">
                    Oçamento
                  </p>
                  <p class="value">
                    {{ budget }}
                  </p>
                </div>
                <div class="content-item">
                  <p class="info">
                    Receita
                  </p>
                  <p class="value">
                    {{ revenue }}
                  </p>
                </div>
                <div class="content-item">
                  <p class="info">
                    Lucro
                  </p>
                  <p class="value">
                    {{ profit }}
                  </p>
                </div>
              </div>
            </div>
            <div class="genres">
              <genres-label :items="movie.genres" />
            </div>
          </div>
          <div class="poster">
            <img :src="movie.posterUrl" :alt="`Capa do filme ${movie.title}`" />
          </div>
        </div>
      </div>
      <div v-if="videoUrl" class="video">
        <iframe
          :src="videoUrl"
          width="100%"
          height="100%"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script>
import GenresLabel from "@/components/GenresLabel";
import { languages } from "@/config";
import isEmpty from "lodash/isEmpty";

export default {
  components: {
    GenresLabel
  },
  props: {
    movieId: {
      type: [Number, String],
      required: true
    }
  },
  data() {
    return {
      noInfoText: "Sem informações",
      currentMovieIndex: 0
    };
  },
  computed: {
    windowWidth() {
      return this.$store.state.common.windowWidth;
    },
    movie() {
      return this.$store.getters["movies/detail"];
    },
    videoUrl() {
      if (!this.movie || !this.movie.video || isEmpty(this.movie.video.results))
        return "";
      const video = this.movie.video.results[this.currentMovieIndex];
      const baseUrl = {
        vimeo: "https://player.vimeo.com/video/",
        youtube: "https://www.youtube.com/embed/"
      }[video.site.toLowerCase()];

      return `${baseUrl}${video.key}`;
    },
    budget() {
      if (!this.movie.budget) return this.noInfoText;
      return new Intl.NumberFormat("pt-BR", {
        style: "currency",
        currency: "USD"
      }).format(this.movie.budget);
    },
    revenue() {
      if (this.status !== "Lançado") return this.noInfoText;
      return new Intl.NumberFormat("pt-BR", {
        style: "currency",
        currency: "BRL"
      }).format(this.movie.revenue);
    },
    profit() {
      if (this.status !== "Lançado") return this.noInfoText;
      return new Intl.NumberFormat("pt-BR", {
        style: "currency",
        currency: "USD"
      }).format(this.movie.revenue - this.movie.budget);
    },
    language() {
      return languages.getName(this.movie.original_language, "pt");
    },
    status() {
      return {
        Rumored: "Rumores",
        Planned: "Planejado",
        "In Production": "Em Produção",
        "Post Production": "Pós-produção",
        Released: "Lançado",
        Canceled: "Cancelado"
      }[this.movie.status];
    },
    runtime() {
      if (!this.movie.runtime) return this.noInfoText;
      const runtime = this.movie.runtime;
      const hours = Math.floor(runtime / 60);
      const minutes = runtime % 60;

      return `${hours}h${minutes}min`;
    }
  },
  async created() {
    await this.$store.dispatch("movies/getMovie", this.movieId);
  }
};
</script>

<style lang="stylus" scoped>
.back-button {
  background: none;
  border: none;
  color: $brand-primary-alt;
  font-size: 1.1rem;
  margin: 0 0 10px 10px;
  cursor: pointer;
}

.detail {
  animation: fade-in 300ms
  margin-bottom: 30px;

  .movie-detail {
    margin-bottom: 30px;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px 0 30px;
      background-color: $brand-secondary;
      height: 50px;

      .title {
        font-family: Abel;
        color: $brand-primary;
      }

      .year {
        color: darken($brand-secondary, 30%);
      }
    }

    .body {
      display: flex;
      // height: 40vh;
      flex-grow: 1;
      justify-content: space-between;
      background-color: $brand-light;

      .content {
        padding: 20px;

        .block {
          margin-bottom: 20px;

          .title {
            text-align: left;
            font-weight: 600;
            span {
              color: $brand-primary
            }
          }

          hr {
            border: 1px solid $brand-primary-alt
            margin-left: 0;
            margin-right: 0;
          }

          .block-text {
            color: darken($brand-secondary, 50%);
          }

          .general-info-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-right: -10px;
            margin-left: -10px;

            .content-item {
              margin: 0 10px 10px 10px;
              .info, .value {
                margin: 0;
                text-align: center;
              }

              .info {
                color: $brand-primary;
              }

              .value {
                color: darken($brand-secondary, 50%);

                &.capitalize {
                  text-transform: capitalize;
                }
              }

            }

            @media screen and (max-width: 767px) {
              display: block;
            }

          }
        }

        .genres {
          .wrapper {
            @media screen and (max-width: 767px) {
              justify-content: center;
            }
          }
        }
      }

      .poster {
        flex-grow: 1;

        img {
          height: 42.5vh;

          @media screen and (max-width: 767px) {
            display block;
            margin: 0 auto;
            height: auto;
            width: 65%
          }
        }
      }


      @media screen and (max-width: 767px) {
        flex-direction : column-reverse;
      }
    }
  }

  .video {
    height: 50vh;
    width: auto;
    margin: auto;
  }
}
</style>
