<template>
  <div class="movies-list container">
    <div class="search">
      <input
        type="text"
        placeholder="Busque um filme por nome, ano ou gênero"
        :value="query"
        @input="evt => setFilter({ key: 'query', value: evt.target.value })"
      />
    </div>
    <div class="wrapper">
      <div v-if="$wait.is('fetching-list')">
        <app-loader></app-loader>
      </div>
      <div v-else-if="results.length" class="list">
        <movie-list-item
          v-for="movie in results"
          :key="movie.id"
          :movie="movie"
        />
      </div>
      <div v-else class="empty-state">
        <h2 class="title">
          Ops...
        </h2>
        <p>
          Infelizmente não encontramos o que você está procurando
        </p>
      </div>
      <div
        v-if="!$wait.is('fetching-list') && results.length"
        class="pagination"
      >
        <pagination
          :total-pages="totalPages"
          :page="page"
          :per-page="20"
          @page-selected="value => setFilter({ key: 'page', value })"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import debounce from "lodash/debounce";

import MovieListItem from "@/components/MovieListItem";

export default {
  components: {
    MovieListItem
  },
  data() {
    return {};
  },
  computed: {
    ...mapState("movies", {
      query: state => state.query,
      page: state => state.page,
      totalPages: state => state.total_pages
    }),
    results() {
      return this.$store.getters["movies/results"];
    }
  },
  async created() {
    const query = this.$route.query;
    if (query.query) {
      this.$store.dispatch("movies/setFilter", {
        key: "query",
        value: query.query
      });
    }

    if (query.page) {
      this.$store.dispatch("movies/setFilter", {
        key: "page",
        value: query.query
      });
    }

    this.refreshFilters();
  },
  methods: {
    setFilter: debounce(function({ key, value }) {
      this.$store.dispatch("movies/setFilter", { key, value });
      this.refreshFilters();
    }, 500),
    refreshFilters() {
      this.$store.dispatch("movies/search");
      this.$router.replace({
        name: this.$route.name,
        params: this.$route.params,
        query: {
          ...this.$route.query,
          page: this.page,
          query: this.query
        }
      });
    }
  }
};
</script>

<style lang="stylus" scoped>
.movies-list {
  margin-bottom: 30px;
  animation: fade-in 300ms

  .search {
    width: 100%;
    margin-bottom: 30px;

    input {
      border-radius: 20px/50%;
      border: none;
      height: 40px;
      background-color: $brand-light
      width: 100%;
      color: $brand-primary-alt
      font-size: 1.15rem;
      font-family: Abel;
      padding-left: 25px;

      @media screen and (max-width: 767px) {
        font-size: 1.1rem;
      }

      &::placeholder {
        color: $brand-primary-alt
        font-size: 1.15rem;
        @media screen and (max-width: 767px) {
          font-size: 1.1rem;
        }
      }

      &:focus {
        outline: none;
        border: 1px solid $brand-primary;
      }

    }
  }

  .wrapper {
    margin-bottom: 30px;

    .empty-state {
      animation: fade-in 300ms
      display: flex
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        margin: 0 0 20px 0;
        color: $brand-primary;
      }

      p {
        margin: 0;
        color: darken($brand-secondary, 50%)
        font-size: 1.1rem;
        font-family: Lato
      }
    }

    .list {
      animation: fade-in 300ms
    }
  }

}
</style>
