<template>
  <div class="loading">
    <div class="spinner"></div>
  </div>
</template>

<style lang="stylus" scoped>
.loading {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;

	.spinner {
		width: 50px;
		height: 50px;
		border: 2px solid $brand-primary;
		border-radius: 50%
		border-right-color: transparent;
		animation: spin 1s infinite;
		animation-timing-function: linear
	}
}
</style>
