<template>
  <div :class="{ small: small }" class="container">
    <p class="data">
      {{ data }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    small: {
      type: Boolean,
      default: false
    },
    data: {
      type: [Number, String],
      required: true
    },
    customClass: {
      type: [Object, Array, String],
      default: ""
    }
  }
};
</script>

<style lang="stylus" scoped>
.container {
	z-index: 1000;
	background: $brand-primary;
	width: 60px;
	height: 60px;
	display: flex
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 2px solid $brand-primary

	&.small {
		width: 45px;
		height: 45px;
	}

	.data {
		height 100%;
		width 100%;
		display flex;
		align-items: center;
		justify-content center;
		color: $brand-primary-alt;
		font-family: Abel;
		font-size: 1.35rem;

		border-radius: 50%;
		border: 2px double $brand-primary-alt

	}
}
</style>
