<template>
	<div class="wrapper">
		<div v-for="item in items" :key="item" class="item"> {{ item }} </div>
	</div>
</template>

<script>
export default {
	props: {
		items: {
			type: Array,
			default: () => [],
		},
	}
};
</script>

<style lang="stylus" scoped>
.wrapper {
	display: flex;
	justify-items: flex-start;
	flex-wrap: wrap;

	.item {
		padding: 5px 10px;
		margin: 0 10px 10px 0px;
		border: 1px solid $brand-primary
		border-radius: 15px/50%;
		background-color: #fff
		color: $brand-primary
	}
}
</style>
