<template>
  <div class="movie-item">
    <router-link
      class="poster"
      :to="{ name: 'movie-detail', params: { movieId: movie.id } }"
    >
      <img :src="movie.posterUrl" :alt="`Capa do filme ${movie.title}`" />
    </router-link>
    <div class="content">
      <router-link
        class="header"
        :to="{ name: 'movie-detail', params: { movieId: movie.id } }"
      >
        <div class="votes">
          <div class="background"></div>
          <custom-circled-data :data="movie.voteAvgStr"></custom-circled-data>
        </div>

        <div class="movie-data">
          <div class="title">
            <h3>
              {{ title }}
            </h3>
          </div>
          <div class="year">
            <p>
              {{ movie.releaseDate }}
            </p>
          </div>
        </div>
      </router-link>
      <div class="body">
        <p class="overview">
          {{ overview }}
        </p>
        <div class="genres">
          <genres-label :items="movie.genres" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GenresLabel from "@/components/GenresLabel";
export default {
  components: {
    GenresLabel
  },
  props: {
    movie: {
      type: Object,
      default: null
    }
  },
  computed: {
    windowWidth() {
      return this.$store.state.common.windowWidth;
    },
    overview() {
      if (!this.movie || !this.movie.overview) return "Sem informação";
      const text = this.movie.overview;

      const truncateIndexInfo = {
        1200: 550,
        992: 400,
        768: 250,
        550: 0,
        320: 0
      };

      return this.getTruncatedStringField(text, truncateIndexInfo);
    },
    title() {
      if (!this.movie || !this.movie.title) return "Sem informação";
      const text = this.movie.title;

      const truncateIndexInfo = {
        // counting the ...
        1200: 47,
        992: 32,
        768: 17,
        550: 32,
        320: 12
      };

      return this.getTruncatedStringField(text, truncateIndexInfo);
    }
  },
  methods: {
    getTruncatedStringField(text, truncateIndexInfo) {
      const textLength = text.length;

      if (this.windowWidth > 1200) {
        return `${text.substring(0, truncateIndexInfo[1200])}${
          textLength >= truncateIndexInfo[1200] ? "..." : ""
        }`;
      } else if (this.windowWidth > 992) {
        return `${text.substring(0, truncateIndexInfo[992])}${
          textLength >= truncateIndexInfo[992] ? "..." : ""
        }`;
      } else if (this.windowWidth >= 768) {
        return `${text.substring(0, truncateIndexInfo[768])}${
          textLength >= truncateIndexInfo[768] ? "..." : ""
        }`;
      } else if (this.windowWidth >= 550) {
        return `${text.substring(0, truncateIndexInfo[550])}${
          textLength >= truncateIndexInfo[550] ? "..." : ""
        }`;
      } else if (this.windowWidth >= 320) {
        return `${text.substring(0, truncateIndexInfo[320])}${
          textLength >= truncateIndexInfo[320] ? "..." : ""
        }`;
      } else return "";
    }
  }
};
</script>

<style lang="stylus" scoped>
.movie-item {

	display: flex;
	height: 300px;
	margin: 15px 0px;

	.poster {
		img {
			height: 300px;

				@media screen and (max-width: 767px) {
				height: auto;
				width: 100%;
			}
		}
	}

	.content {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		.header {
			display: flex;
			height: 100px;
			max-height: 100px;
			text-decoration: none;

			.votes {
				position relative;
				background-color: $brand-light;
				display: flex;
				align-items: center;
				justify-content center;
				width: 100px;


				.background {
					position absolute;
					top: 0;
					height: 50px;
					width: 100px;
					background: $brand-primary;
				}
			}

			.movie-data {
				display flex;
				flex-direction: column;
				flex-grow: 1;

				.title {
					flex: 1;
					background-color: $brand-primary;
					font-size: 1.3rem;
					color: $brand-primary-alt;
					display flex;
					align-items: flex-end;

					h3 {
						font-weight: 400;
						margin: 0 0 5px 0;

						@media screen and (max-width: 767px) {
							font-size: 0.95em;
						}
					}

				}

				.year {
					flex: 1;
					color: darken($brand-secondary, 30%);
					background-color: $brand-light

					p {
						margin: 5px 0 0 0;
					}
				}
			}
		}

		.body {
			background-color: $brand-light
			padding-left: 30px;
			padding-right: 30px;
			text-align: left;
			flex-grow: 1;
			max-height: 200px;

			.overview {
				font-size: 0.95rem;
				margin: 0;
				color: darken($brand-secondary, 50%);
				font-family: Lato;
				height: 60%;

				@media screen and (max-width: 767px) {
					display: none;
				}

			}

			.genres {
				height: 40%;

				.wrapper {
					@media screen and (max-width: 767px) {
						justify-content: center;
					}
				}
			}
		}
	}

	@media screen and (max-width: 767px) {
		height: auto;
		flex-direction: column-reverse;
	}
}
</style>
