<template>
  <div class="pagination">
    <span
      v-for="pageOption in previousPageOptions"
      :key="pageOption"
      class="option"
      @click="onPageClick(pageOption)"
    >
      {{ pageOption }}
    </span>
    <span class="option">
      <custom-circled-data small :data="page"></custom-circled-data>
    </span>
    <span
      v-for="pageOption in nextPageOptions"
      :key="pageOption"
      class="option"
      @click="onPageClick(pageOption)"
    >
      {{ pageOption }}
    </span>
  </div>
</template>

<script>
export default {
  props: {
    page: {
      type: Number,
      default: 1
    },
    totalPages: {
      type: Number,
      default: 1
    },
    perPage: {
      type: Number,
      default: 20
    }
  },
  data() {
    return {};
  },
  computed: {
    previousPageOptions() {
      const minPageLimit = this.page === this.totalPages ? 4 : 2;

      const options = [];
      for (let i = this.page - 1; i >= this.page - minPageLimit; i--) {
        if (i < 1) continue;
        options.unshift(i);
      }
      return options;
    },
    nextPageOptions() {
      const maxPageLimit = this.page === 1 ? 4 : 2;

      if (this.page === this.totalPages) {
        return [];
      }
      const options = [];
      for (let i = this.page + 1; i <= this.page + maxPageLimit; i++) {
        if (i > this.totalPages) continue;
        options.push(i);
      }
      return options;
    },
    pageOptions() {
      return [...this.previousPageOptions, this.page, ...this.nextPageOptions];
    }
  },
  methods: {
    onPageClick(pageNumber) {
      this.$emit("page-selected", pageNumber);
    }
  }
};
</script>

<style lang="stylus" scoped>
.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;

	.option {
		color: $brand-primary;
		margin: 0 10px;
    font-family: Abel;
	}
}
</style>
