<template>
  <div id="app">
    <nav id="nav">
      <router-link :to="{ name: 'movie-list' }">Movies</router-link>
    </nav>
    <div id="body">
      <router-view />
    </div>
  </div>
</template>
<style lang="stylus">
body {
  font-family: 'Abel';
  margin: 0;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #nav {
    margin: 0 0 30px 0;
    padding: 15px;
    height: 60px;
    background-color: $brand-primary;
    text-align: center;

    a {
      font-weight: 400;
      font-size: 2rem;
      color: $brand-primary-alt;
      margin: 0;
      text-decoration: none;
    }

  }
}
</style>
